---
import Section from "@/components/Section.astro";
import { education } from '@cv';
---

<Section title="Educación">
    <ul>
    {
        education.map(({institution, area, startDate, endDate, courses, }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear = endDate != null ? new Date(endDate).getFullYear() : null;
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{institution}</h3>
                                <h4>{area}</h4>
                            </div>
                            <time>{startYear}{endYear != null ? ` - ${endYear}` : ''}</time>
                        </header>
                        <footer>
                            <p>
                                {
                                    courses.join(', ')
                                }
                            </p>
                        </footer>
                    </article>
                </li>
                
            )
        })
    }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    ul.courses {
        gap: 4px;
    }
    article h3 {
        font-weight: 700;
        color: #111;
    }

    article h4 {
        font-weight: 500;
        color: #222;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
    time {
        color: #555;
        font-size: 0.85rem;
    }

    footer p{
        color: #666;
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: pretty;
    }
    footer p::after {
        content : '.';
        padding: 0px;
        margin-left: -.8ch;
    }
</style>